.env
/.idea
/vendor
/.fleet
/.vscode
auth.json
.env.backup
/public/hot
/node_modules
/public/build
npm-debug.log
composer.lock
/storage/*.key
Homestead.json
Homestead.yaml
yarn-error.log
/public/storage
.env.production
/.phpunit.cache
.phpunit.result.cache
public/backend/assets/image/events
public/backend/assets/image/images
public/backend/assets/image/avatars
public/backend/assets/image/documents
public/backend/assets/image/campaigns
